<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header row card-header-success">
                        <div class="col-12">
                            <h4 class="card-title ">Manage your Green Mapping City !</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12 px-5">
                                    <input [(ngModel)]="pseudo" class="block form-control mt-2" name="pseudo" matInput placeholder="Username..." type="text">
                                    <input [(ngModel)]="password" class="form-control mt-4 mb-4" name="password" matInput placeholder="Password..." type="password">
                                </div>
                            </div>

                            <button mat-raised-button type="submit" (click)="login()" class="btn block mt-4 float-right btn-success pull-right">Log in</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>